<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
	<session-factory>
	<property name="hibernate.connection.url">jdbc:mysql//localhost:3306/vmts2</property>
	<property name="hibernate.connection.name">root</property>
	<property name="hibernate.connection.password">root</property>
	
	<property name="hibernate.connection.driver-class-name">jdbc.mysql.cj.jdbc.Driver</property>
	
	<property name="hibernate.hbm2ddl.auto">update</property>
	
	<mapping class="com.vmts2.entity.SttudentApp2"/>
	
	</session-factory>
	</hibernate-configuration>